* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-style {
  height: 40px;
  width: 35px;
}
.font-size-14 {
  font-size: 14px;
}
.pointer {
  cursor: pointer;
}
.header-background-color {
  background-color: #11121a;
}
.home-background-color {
  background-image: linear-gradient(to right top, #0b0c1b 0%, #000213 100%);
  min-height: 100vh;
  width: 100%;
}
.span-color {
  color: rgb(132, 95, 224);
}
.input-style {
  padding-left: 30px;
  height: 50px;
  font-size: 13px;
  border-radius: 7px;
  background-color: #121626;
  overflow: hidden;
  outline: none;
  color: #8592c8;
  border: 1px solid #384474;
}
.input-style::placeholder {
  color: #384474;
}

.icon-relative {
  position: relative;
}
.icon-absolute {
  position: absolute;
}
.top-35 {
  top: 35%;
}
.start-2 {
  left: 2%;
}
.search-icon-color {
  color: #384474;
}

/* custom tabs */

.custom-tabs {
  background-color: #191c29;
  border-bottom: none;
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}
.custom-tabs .nav-item .custom-tab-link {
  border-radius: 5px;
  margin: 5px 0;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: rgb(174, 174, 174);
}
.custom-tabs .nav-item .custom-tab-link:hover {
  color: #7f50f4;
  border: 1px solid #7f50f4;
}
.custom-tabs .nav-item .custom-tab-link.active {
  background-color: #7f50f4;
  color: white;
  border: none;
}
.movie-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.poster-bg {
  background-color: #191c29;
}
.poster-bg-transparent {
  background-color: #191c29bd;
}
.font-size-12 {
  font-size: 12px;
}
.overflow-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.width-90{
  width: 90%;
}
.font-weight{
  font-weight: 500;
}
.radius{
  border-radius: 5px;
}
.list-none{
  list-style: none;
}
.height{
  height: 350px;
}
.decoration-none{
  text-decoration:dashed;
  color: white;
}
.left-10{
  left: 9.2%;
}
.bottom-10{
  bottom: -10%;
}
.title-box-width{
  width: 300px;
}
.left-5{
  left: 5%;
}


@media screen and (max-width: 720px) {
  .movie-image{
    height: 250px;
  }
}
@media screen and (max-width: 478px) {
  .movie-image{
    height: 200px;
    object-fit: contain;
  }
}